<!DOCTYPE html>
<html>
<head>
  <title>WhatsappWeb</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
  <%= csrf_meta_tags %>
</head>
<body>

  <!-- Change Online/Offline from DB when user get Connected/Disconnected -->
  <%= yield %>

</body>
</html>
